body{
    background-color: rgb(250, 250, 250);
    padding-bottom: 100px;
}

.container_Curriculum{
    height: 164vh;
    width: 1090px;
    background-color: white;
    overflow: hidden;
    position: relative;
    left: 12%;
    top: 40px;
    box-shadow: 1px 1px 12px 6px rgba(0,0,0, 0.2);
}